<% content_for :title do %>Dashboard Servidores<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_response_time" data-view="Meter" data-title="Response Time" data-min="0" data-max="100" data-moreinfo="ms"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="heroku_dyno_web" data-view="Meter" data-title="Web Dynos" data-min="0" data-max="10"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="heroku_dyno_worker" data-view="Meter" data-title="Workers" data-min="0" data-max="10"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     <div data-id="pingdomuptime" data-view="Pingdomuptime" data-title="Uptime" data-moreinfo="more-info" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="heroku-prod" data-view="Heroku" data-title="Heroku Production"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="server_status" data-view="ServerStatus" data-title="Server Status"></div>
      <i class="icon-cloud icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_user_repos_forks" data-view="List" data-unordered="true" data-title="Forks"></div>
      <i class="icon-github icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="github_user_repos_watchers" data-view="List" data-unordered="true" data-title="Watchers"></div>
      <i class="icon-github icon-background"></i>
    </li>

  </ul>
</div>