<% content_for :title do %>Dashboard Performance<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_apdex" data-view="Meter" data-title="Apdex" data-min="0" data-max="1" data-moreinfo="[0.5] requests"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_error_rate" data-view="Meter" data-title="Error Rate" data-min="0" data-max="100" data-moreinfo="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_throughput" data-view="Meter" data-title="Throughput" data-min="0" data-max="100" data-moreinfo="requests/minute"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_errors" data-view="Meter" data-title="Errors" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_response_time" data-view="Meter" data-title="Response Time" data-min="0" data-max="100" data-moreinfo="ms"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_db" data-view="Meter" data-title="DB" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_cpu" data-view="Meter" data-title="CPU" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="rpm_memory" data-view="Meter" data-title="Memory" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>